#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_install:
	install -Dm755 ryzen-panel $(CURDIR)/debian/ryzen-panel/usr/bin/ryzen-panel
	install -Dm644 ryzen-panel.desktop $(CURDIR)/debian/ryzen-panel/usr/share/applications/ryzen-panel.desktop

override_dh_auto_build:
	# nothing to build
